<h2 mat-dialog-title class="dialog-title">
    <mat-icon>medical_services</mat-icon>
    <span>Médico</span>
</h2>

<mat-dialog-content class="dialog-content">
    <form class="categoria-form" [formGroup]="form" (ngSubmit)="guardar()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>ID</mat-label>
            <input matInput readonly formControlName="id" />
            <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />

            @if (form.get('nombre')?.hasError('required')) {
            <mat-error>El nombre es obligatorio</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Especialidad</mat-label>
            <input matInput formControlName="especialidad" />

            @if (form.get('especialidad')?.hasError('required')) {
            <mat-error>La especialidad es obligatoria</mat-error>
            }
        </mat-form-field>

        @if (data.isModificar) {
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Estado</mat-label>

            <mat-select formControlName="estado">
                <mat-option [value]="true">Activo</mat-option>
                <mat-option [value]="false">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>
        }

        <mat-dialog-actions align="end" class="dialog-actions">
            <button mat-stroked-button mat-dialog-close type="button">
                <mat-icon>close</mat-icon>
                Cancelar
            </button>

            @if (!data.medico || data.isModificar) {
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                <mat-icon>{{ data.isModificar ? 'save' : 'add' }}</mat-icon>
                {{ data.isModificar ? 'Guardar' : 'Crear' }}
            </button>
            }
        </mat-dialog-actions>

    </form>
</mat-dialog-content>